.menu {
  background-color: #40868b;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.menu a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
}
.menu a:hover {
  background-color: gray;
}

@media screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background-color: indigo; */
  }
  .menu a {
    border: 2px solid black;
    background-color: indigo;
    margin: 10px 0px;
    border-radius: 10px;
    font-size: 25px;
  }
}
