:root{
    --primary-color: brown;
    --secondary-color: rgb(64, 0, 255);
    --color: red;
}

.div1{
    width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    margin: 50px;
    position: absolute;
    z-index: 5;
    
}
.div2{
    width: 300px;
    height: 300px;
    background-color: var(--secondary-color);
    margin: 50px;
    position: absolute;
    z-index: 6;
    left: 200px;
    top: 180px;
}
@media screen and (max-width: 600px) {
   :root{
    --primary-color: black;
    --color: aqua;
    --secondary-color: orange;
   }
}